# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
# SSH Keys
*.pem
*.pub

# OS files
.DS_Store
Thumbs.db

# IDE / editor
.vscode/
.idea/
*.swp

# Logs
*.log
